html {
    box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 85px;    /* Footer height */
  }


.home-page-container {
    display: flex;
    justify-content: space-around;
    min-width: 700px;
}

.company-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 800px;
}

.company-duration {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.nav-item {
    margin-right: 5px;
    margin-left: 5px;
}

.home-page-text {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}

.home-page-title {
    font-family: Arial, sans-serif;
    color: #343A40;
    /* font-weight: bold; */
}
hr {
    border-top: 2px solid #343A40;
}

.brand-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
    margin-top: 90px;
    min-width: 700px;
}

.image-row {
    width: 250px;
    height: 50px;
}

.home-page-subtitle {
    color: #343A40;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-me-text {
    padding-left: 20px;
    padding-right: 50px;
    max-width: 100%;
    min-width: 300px;
}

.about-me-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.about-me-subtitle {
    font-family: Arial, sans-serif;
    font-size: 25px;
}



.masonry {
    margin: 1.5em auto;
    max-width: 768px;
    column-gap: 1em;
}

.mason-item {
    background-color: #fff;
    padding: .5em;
    margin: 0 0 1em;
}

.image-size {
    max-width: 100%;
    max-height: 100%;
}

.company-icon {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:50px;
    /* border-width: 1em; */
    margin-right:50px;
    width: 300px;
}
.technical-icon {
    /* margin-top: 50px;
    margin-bottom: 50px; */
    /* margin-left:50px; */
    /* border-width: 1em; */
    margin-right:15px;
    margin-left:15px;
    width: 70px;
}

.about-me-paragraph {
    margin: 50px;
    max-width: 1000px;
    min-width: 500px;
}

.about-me-reviwer {
    font-style: italic;
}

.big-footer {
    color: #343A40;
    height:auto;
    background-color: #D3D3D3;
}

.bg-light {
    background-color: #D3D3D3 !important;
    font-size: 20px;
}
/* .navbar {
    background-image: url("images/Canopy-top.jpg") !important;
} */
.navbar-image {
    margin-right: 10px;
    margin-top: 2px;
}

.vl {
    border-left: 3px solid #343A40;
    height: 60px;
  }


.home-page-picture {
    margin-top: 100px;
    margin-left:50px;
    border: solid;
    border-width: 10px;
    margin-right:50px;
    min-width: 250px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;     
    min-width: 500px;
  }

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contact-title {
    margin-left: 5px;
    margin-right: 5px;
}

.footer-contact {
    margin-left: 10px;
    display: flex;
    font-family: arial;
    /* font-weight: bold; */
    font-size: 18px;
    align-items: center;
}

.footer-picture {
    width: 40px;
    margin-left: 12px;
    margin-right: 12px;
}
.copyright-content {
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-family: arial;
    /* font-weight: bold; */
    font-size: 18px;
}
.copyright-item {
    padding-left: 8px;
    padding-right: 8px;
}
.technical-container {
    display:flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;

}

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
    .home-page-picture {
        width: 350px;
    }
    .image-row {
        height: 60px;
    }
    .vl {
        height: 60px;
        border-left: 2px solid #343A40;
    }
    .home-page-title {
        font-size: 60px;
    }
    .home-page-subtitle {
        font-size: 30px;
    }
    hr {
        border-top: 2px solid #343A40;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
    .home-page-picture {
        width: 300px;
    }
    .image-row {
        height: 50px;
    }
    .vl {
        height: 55px;
        border-left: 2px solid #343A40;
    }
    .home-page-title {
        font-size: 50px;
    }
    .home-page-subtitle {
        font-size: 25px;
    }
    hr {
        border-top: 1.5px solid #343A40;
    }
}

@media only screen and (max-width: 767px) {
    .masonry {
        column-count: 2;
    }
    .home-page-picture {
        width: 250px;
        min-width: 250px;
    }
    .image-row {
        height: 40px;
    }
    .vl {
        height: 45px;
        border-left: 2px solid #343A40;
    }
    .home-page-title {
        font-size: 35px;
    }
    .home-page-subtitle {
        font-size: 20px;
    }
    hr {
        border-top: 2px solid #343A40;
    }
}

/* .masonry {
    column-count: 3;
    column-gap: 1em;
}

.mason-item {
    background-color: #7cc7b5;
    display: inline-block;
    margin: 0 0 1em;
}

.image-size {
    max-width: 100%;
    max-height: 100%;
} */

 